.calc-button {
    background: #f7ffb3
}

mat-expansion-panel {
    background-color: #67d5ff !important;
}

.upload-button {
    background-color: #670e79;
    color: white;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;
}

.all-button {
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;
}

input[type="file"] {
    display: none;
}