.body {
    margin: 0;
    position: absolute;
    left: 50%;
    right: 50%;
    background-color: white;
    border-radius: 20px;
    font-style: italic;
}

.container {
    width: 300px;
    height: 400px;
    position: relative;
    border: 1em;
    right: 110px;
    border-radius: 10px;
    background-color: #778899;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #3E4651;
}
select
{
width: 130px;
height: 50px;
border-radius: 10px;
}

