@import "bootstrap/scss/bootstrap";
@import 'ngx-toastr/toastr';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "ngx-smart-modal/ngx-smart-modal";
@import "./font.scss";
@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-material.css";
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../scss/template/core/core';
@import '../scss/template/core/perfect-scrollbar/themes';
// @import 'ng-wizard/themes/ng_wizard.min.css';
// @import 'ng-wizard/themes/ng_wizard_theme_arrows.min.css';
// @import 'ng-wizard/themes/ng_wizard_theme_circles.min.css';
// @import 'ng-wizard/themes/ng_wizard_theme_dots.min.css';