<div class="container-fluid">

  <div class="row">

    <div class="col-sm-6">
      <mat-form-field (click)="clickCombo()" dir="rtl">
        <mat-label dir="rtl">انتخاب نوع دسترسی</mat-label>
        <mat-select dir="rtl" (selectionChange)="comboChange($event.value)">
          <mat-option>-</mat-option>
          <mat-filter [(comboList)]="comboList" [valueLabel]="'CodeDesc_Fld'" (refreshChange)="refreshComboCode()">
          </mat-filter>
          <mat-option dir="rtl" *ngFor="let item of comboList" [value]="item.Id">{{item.CodeDesc_Fld}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="comboId == 2" class="col-sm-6">
      <mat-form-field (click)="clickCombocostCenterGroup()" dir="rtl">
        <mat-label dir="rtl">انتخاب گروه مرکز هزینه</mat-label>
        <mat-select dir="rtl" (selectionChange)="costCenterGroupChange($event.value)">
          <mat-option>-</mat-option>
          <mat-filter [(comboList)]="comboList" [valueLabel]="'costCenterGroupList'"
            (refreshChange)="refreshComboCode()"></mat-filter>
          <mat-option dir="rtl" *ngFor="let item of costCenterGroupList" [value]="item.Id">
            {{item.CodeDesc_Fld}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <custom-ag-grid *ngIf="showGrid" [customGridOption]="gridOption"></custom-ag-grid>

</div>