<mat-card appearance="outlined">

  <div class="form">

    <div class="form-buttons">

      <button *ngIf="formType != 'View'" mat-raised-button class="save-button" color="primary"
        (click)="save()">ذخیره</button>

      <button mat-raised-button class="close-button" color="warn" (click)="close()">بستن</button>

    </div>

    <div class="form-body" [ngClass]="{'disabled-form': formType == 'View'}">

      <div class="container-fluid">
        <div class="row" *ngIf="showForm">

          <div class="col-lg-1 col-lg-2 col-md-2 col-sm-2" *ngIf="!formObj.Code_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.Code_Fld.type" [parentFormGroup]="form" [label]="formObj.Code_Fld.headerName"
              [valueName]="'Code_Fld'"></custom-input>
          </div>

          <div class="col-sm-2" *ngIf="!formObj.CodeDesc_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.CodeDesc_Fld.type" [parentFormGroup]="form"
              [label]="formObj.CodeDesc_Fld.headerName" [valueName]="'CodeDesc_Fld'">
            </custom-input>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3" *ngIf="!formObj.WorkAddingTypeDesc_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="'OtherDetail/10017'" [parentFormGroup]="form"
              [label]="formObj.WorkAddingType_Fld.headerName" [descValue]="data.WorkAddingTypeDesc_Fld"
              [valueName]="'WorkAddingType_Fld'">
            </custom-input>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3" *ngIf="!formObj.WorkAdding_Limit_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.WorkAdding_Limit_Fld.type" [parentFormGroup]="form"
              [label]="formObj.WorkAdding_Limit_Fld.headerName" [valueName]="'WorkAdding_Limit_Fld'"></custom-input>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3" *ngIf="!formObj.WorkAdding_Treshold_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.WorkAdding_Treshold_Fld.type" [parentFormGroup]="form"
              [label]="formObj.WorkAdding_Treshold_Fld.headerName" [valueName]="'WorkAdding_Treshold_Fld'">
            </custom-input>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3" *ngIf="!formObj.WorkAdding_T1Divideby_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.WorkAdding_T1Divideby_Fld.type" [parentFormGroup]="form"
              [label]="formObj.WorkAdding_T1Divideby_Fld.headerName" [valueName]="'WorkAdding_T1Divideby_Fld'">
            </custom-input>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5" *ngIf="!formObj.WorkAdding_T2Divideby_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.WorkAdding_T2Divideby_Fld.type" [parentFormGroup]="form"
              [label]="formObj.WorkAdding_T2Divideby_Fld.headerName" [valueName]="'WorkAdding_T2Divideby_Fld'">
            </custom-input>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4" *ngIf="!formObj.MinPriceWorkAdding_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.MinPriceWorkAdding_Fld.type" [parentFormGroup]="form"
              [label]="formObj.MinPriceWorkAdding_Fld.headerName" [valueName]="'MinPriceWorkAdding_Fld'"></custom-input>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4" *ngIf="!formObj.Zarib_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.Zarib_Fld.type" [parentFormGroup]="form"
              [label]="formObj.Zarib_Fld.headerName" [valueName]="'Zarib_Fld'">
            </custom-input>
          </div>

          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" *ngIf="!formObj.ZaribInFish_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.ZaribInFish_Fld.type" [parentFormGroup]="form"
              [label]="formObj.ZaribInFish_Fld.headerName" [valueName]="'ZaribInFish_Fld'"></custom-input>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4" *ngIf="!formObj.CalcInsure_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.CalcInsure_Fld.type" [parentFormGroup]="form"
              [label]="formObj.CalcInsure_Fld.headerName" [valueName]="'CalcInsure_Fld'" (change)="changeCalcInsure()">
            </custom-input>
          </div>

          <div class="col-xl-2 col-lg-3 col-md-2 col-sm-4" *ngIf="!formObj.InsureCode_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="'multiCombo'" [comboArray]="insureList" [multiple]="true" [parentFormGroup]="form"
              [label]="formObj.InsureCode_Fld.headerName" [valueName]="'InsureCode_Fld'"></custom-input>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4" *ngIf="!formObj.CalcTax_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="formObj.CalcTax_Fld.type" [parentFormGroup]="form"
              [label]="formObj.CalcTax_Fld.headerName" [valueName]="'CalcTax_Fld'" (change)="changeCalcTax()">
            </custom-input>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4" *ngIf="!formObj.TaxBaseTableDesc_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="'TaxBaseTable'" [parentFormGroup]="form"
              [label]="formObj.TaxBaseTable_Fld.headerName" [descValue]="data.TaxBaseTableDesc_Fld"
              [valueName]="'TaxBaseTable_Fld'">
            </custom-input>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5" *ngIf="!formObj.WorkAdding_FormulaDesc_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="'NewFormula'" [parentFormGroup]="form"
              [label]="formObj.WorkAdding_Formula_Fld.headerName" [descValue]="data.WorkAdding_FormulaDesc_Fld"
              [valueName]="'WorkAdding_Formula_Fld'"></custom-input>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 " *ngIf="!formObj.CoveredDesc_Fld.ishidden">
            <custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="'OtherDetail/10023'" [parentFormGroup]="form"
              [label]="formObj.Covered_Fld.headerName" [descValue]="data.CoveredDesc_Fld" [valueName]="'Covered_Fld'">
            </custom-input>
          </div>

        </div>
      </div>

    </div>

  </div>

</mat-card>