////////////////////////////////////////////////////////
.container {
    margin: 20px;
  }
  
  .group-container {
    border: 2px solid #4CAF50;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .field-item {
    padding: 8px;
    // background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  