.file-attachment-require {
  border: 2px solid #ccc;
  background-color: rgb(192, 255, 255);
  padding: 10px;
  border-radius: 4px;
  margin-top: 3px;
}

.file-attachment {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-top: 3px;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.file-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  text-align: center;
}

.file-item img {
  width: 80%;
  margin-bottom: 5px;
}
.remove-button {
  border: none;
  background-color: red;
  color: white;
  padding: 2px 8px;
  border-radius: 14px;
  margin-left: 4rem;
}
@media (max-width: 768px) {
  .file-item {
    max-width: 30%;
  }

  // .file-list {
  //   justify-content: center;
  // }
}
