.mat-mdc-progress-bar {    
    display: block;    
    height: 15px !important;    
    overflow: hidden;    
    position: relative;    
    transition: opacity 250ms linear;    
    width: 100%;    
  }    
      
  /* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version. */
  .mat-progress-bar-buffer {    
    background-color: #e9ecef !important;    
  }    
      
  /* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version. */
  .mat-progress-bar-background {    
    fill:#e9ecef !important;    
  }  
  
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  :host ::ng-deep mat-list-option {
    height: 23px !important;
  }
  
  :host ::ng-deep mat-selection-list {
    height: 190px;
    overflow-y: auto;
    direction: ltr;
  }
  
  .box {
    width: 90%;
    margin: auto;
  }
  
  .buttons {
    position: absolute;
    font-size: 45px;
  }
  
  .menu-button {
    top: 17%;
    left: 36.5%;
  }
  
  .report-button {
    top: 68%;
    left: 36.5%;
  }
  
  .disabled {
    opacity: .6;
  }