:host ::ng-deep 
mat-label,
p,
label,
input,
textarea,
h1,
legend,
.mat-mdc-select-placeholder,
.mat-mdc-option-text,
.mat-select-value-text,
.mdc-list-item__primary-text,
.mat-mdc-select-value-text,
.mat-error,
#swal2-content,
button,
select,
.toast-title,
.toast-message,
.mat-list-text,
.mat-tab-label-content,
.mdc-tab,
.mdc-tab__content,
.mat-panel-title,
.mat-tree-node,
.mat-panel-description,
.mat-expansion-panel-header-title,
.nav-link
{
  font-size: 14px !important;
}


/* This fully disables interaction and makes it look disabled */
.disabled-datepicker-wrapper {
  pointer-events: none;           /* Blocks all clicks on datepicker toggle */
  opacity: 0.6;                   /* Visual feedback */
}

.disabled-datepicker-wrapper input {
  background-color: #f5f5f5 !important;
  color: #999 !important;
  cursor: not-allowed !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-mdc-form-field-flex {
  background-color: transparent;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
mat-mdc-checkbox {
  margin-top: 10px;
  display: inline-block;
}

textarea {
  // height: 85px;
  line-height: 150%;
  overflow-y: scroll !important;
  // overflow-y: auto !important;
}

:host ::ng-deep .mat-mdc-ripple-element {
  left: -12px !important;
  top: -12px !important;
}

.number-input {
  text-align: left;
  height: 20px;
}

.custom-panel {
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 1em;
}

:host ::ng-deep .ngx-timepicker-control__input[_ngcontent-serverApp-c133]
{
  background: none !important;
}
