.box-container {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 10px 10px 10px gray
}

.created-box {
  position: absolute;
  border: 2px solid #333;
  background-color: rgba(200, 200, 200, 0.5);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  user-select: none;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #28a745;
  cursor: se-resize;
  border-top-left-radius : 10px;
}

.resize-location {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: gray;
  cursor: move;
  border-bottom-right-radius: 2px;
}


.virtual-box {
  position: absolute;
  border: 2px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.2);
}

.resize-handle-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #333;
  cursor: ns-resize;
}

.button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

.save-btn:hover {
  background-color: #218838;
}

.cancel-btn {
  background-color: #ff002b;
  color: white;
}

.cancel-btn:hover {
  background-color: #e00000;
}


.item-show {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f1f1f1 ;
  border-radius: 8px; 
  color: #333;
  font-size: 14px; 
  font-weight: bold; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.item-show:hover {
  background-color: #e2e2e2;
  transform: translateY(-4px); 
}