<custom-modal *ngIf="showModal" [modalOptions]="modalOptions">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6" *ngIf="!formObj.CalcTypeDesc_Fld.ishidden">
				<custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="'OtherDetail/10051'" [parentFormGroup]="form"
					[label]="formObj.CalcType_Fld.headerName" [valueName]="'CalcType_Fld'" [descValue]="data.CalcTypeDesc_Fld">
				</custom-input>
			</div>
			<div class="col-sm-6" *ngIf="!formObj.NewFormulaIDDesc_Fld.ishidden">
				<custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="'NewFormula'" [parentFormGroup]="form"
					[label]="formObj.NewFormulaID_Fld.headerName" [valueName]="'NewFormulaID_Fld'"
					[descValue]="data.NewFormulaIDDesc_Fld" (changeCombo)="changeNewFormula()">
				</custom-input>
			</div>
			<div class="col-sm-6" *ngIf="!formObj.CalcOrderDesc_Fld.ishidden">
				<custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="'OtherDetail/10052'" [parentFormGroup]="form"
					[label]="formObj.CalcOrder_Fld.headerName" [valueName]="'CalcOrder_Fld'" [descValue]="data.CalcOrderDesc_Fld">
				</custom-input>
			</div>
			<div class="col-sm-6" *ngIf="!formObj.CalcTypeInOrderDesc_Fld.ishidden">
				<custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="CalcTypeInOrderUrl" [parentFormGroup]="form"
					[label]="formObj.CalcTypeInOrder_Fld.headerName" [valueName]="'CalcTypeInOrder_Fld'"
					[descValue]="data.CalcTypeInOrderDesc_Fld">
				</custom-input>
			</div>
			<div class="col-sm-6" *ngIf="!formObj.Active_Fld.ishidden">
				<custom-input  [formObj]="formObj"  [type]="formObj.Active_Fld.type" [parentFormGroup]="form" [label]="formObj.Active_Fld.headerName"
					[valueName]="'Active_Fld'">
				</custom-input>
			</div>
		</div>
	</div>
</custom-modal>