
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
// background-color: #effff7;
}

div.mat-tree-node:hover span.hover-actions-menu {
  visibility: visible;
}

div.mat-tree-node span.hover-actions-menu {
  visibility: hidden;
}

.show-icons-and-menu {
  visibility: visible !important;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
}


.control_wrapper {
  max-width: 320px;
  margin: auto;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
}

.active-node {
background-image: url("../../../../../../../assets/img/icons8.png");
background-size: cover;
}
.active-nodes{
  background-color: #d7e7dc;
}
.mat-mdc-icon-button {
  width: 28px !important;
  height: 28px !important;
}

.change-width {
  width: calc(100% - -10px);
    .img-width{
    width: 20px
  }
}

.img-width {
  width: 30px;
}

// .btn {
//   // color: red;
//   color: red;
// }

.control-section {
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.change-width-Mo {
  width: calc(100% - -14px) !important;
}

@media (max-width: 1138px) {
  .control_wrapper {
    max-width: 100%;
  }
}

@media (max-width: 717px) {
  .img-width {
    width: 20px;
    }
    button{
      font-size: 13.5px ;
    }
}

@media (max-width: 576px) {

}
mat-tree {
  height: 273px;
}
