<!--filter-->
<personnel-filter [controller]="Controller" (onFilter)="onFilter($event)">
</personnel-filter>

<mat-card appearance="outlined" style="min-height: 372px" *ngIf="showSelectPerson">
  <mat-tab-group dir="rtl" (selectedTabChange)="closeForm()">
    <mat-tab dir="rtl" label="اطلاعات پرداخت موردی هر فرد">
      <ng-template matTabContent>
        <!--select person-->
        <select-personnel [personData]="personData" [controller]="Controller" [setPersonPID]="setPID" [hideFilter]="true" [multiple]="canAdd"
          (rowClicked)="onSelectPersonnel($event)" (rowSelectedList)="rowSelectedList($event)"
          (selectedPersonelNF)="selectedPersonelNF = $event">
        </select-personnel>
        <div class="person-case-tab" *ngIf="showGrid" style="min-height: 329px">
          <mat-tab-group dir="rtl" (selectedTabChange)="closeForm()">

            <mat-tab dir="rtl" label="اطلاعات پرداخت موردی هر فرد">
              <ng-template matTabContent>
                <!--main grid-->
                <custom-ag-grid *ngIf="showGeneralPerson" [customGridOption]="gridOption"></custom-ag-grid>
              </ng-template>
            </mat-tab>

            <mat-tab dir="rtl" label="کاردکس پرداخت موردی">
              <ng-template matTabContent>
                <cardex-person [option]="cardexOptions"></cardex-person>
              </ng-template>
            </mat-tab>

          </mat-tab-group>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab dir="rtl" style="min-height: 372px" label="پرداخت موردی کلیه پرسنل">
      <ng-template matTabContent>
        <!--general-->
        <general-person-info [filterData]="filterDto" [type]="Controller" (edited)="onMultiEdit($event)"
          [calEdit]="canEdit" [canDelete]="canDelete">
        </general-person-info>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</mat-card>

<!--form-->
<div *ngIf="showForm">
  <div class="pre-form">
    <person-case-info-form [personList]="selectedPersonList" [formObj]="formObj" [PID]="PID" [ID]="ID"
      [caseKindId]="caseKindId" [(caseCode)]="caseCode" [formType]="formType" [idList]="selectedIdList" (done)="submited($event)"
      (closed)="closeForm()" [selectedPersonelNF]="selectedPersonelNF">
    </person-case-info-form>
  </div>
</div>