.customizer {
  width: 400px;
  right: -400px;
  padding: 0;
  background-color: #FFF;
  z-index: 54;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  backface-visibility: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  &.open {
    right: unset;
    left: 0;
  }
  .customizer-content {
    position: relative;
    //height: 100%;
  }
  a.customizer-toggle {
    background: #FFF;
    color: theme-color('primary');
    display: block;
    box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.1);
  }
  a.customizer-close {
    color: #000;
  }
  .customizer-close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 7px;
    width: auto;
    z-index: 10;
  }
  .customizer-toggle {
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    width: 40px;
    height: 40px;
    left: -41px;
    text-align: center;
    line-height: 41px;
    cursor: pointer;
  }
  .color-options {
    a {
      white-space: pre;
    }
  }
  .cz-bg-color {
    margin: 0 auto;
    span {
      &:hover {
        cursor: pointer;
      }
      &.white {
        color: #ddd !important;
      }
    }
    .selected {
      border: 3px solid #314fe5;
    }
  }
  .cz-bg-image {
    &:hover {
      cursor: pointer;
    }
    img.rounded {
      border-radius: 1rem !important;
      border: 2px solid #e6e6e6;
      &.selected {
        border: 2px solid #FF586B;
      }
    }
  }
}

.header-text {
  margin-right: 18px;
}

:host ::ng-deep .mat-mdc-slide-toggle .mdc-label {
  font-family: iransans;
  margin-right: 7px;
}

:host ::ng-deep .mat-mdc-radio-button .mdc-label {
  font-family: iransans;
  margin-right: 7px;
}

::ng-deep .mat-mdc-radio-group {
  margin-right: 18px;
}

.span-circle {
  width: 20px;
  height: 20px;
}

.bg-black-white {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-purple {
  background-color: purple;
}