::ng-deep .salary-grid ag-grid-angular {
  height: calc(100vh - 125px) !important;
}

.rotate-button {
    margin-right: 10px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }