input[type="file"] {
    display: none;
}

.upload-button {
    background-color: #670e79;
    color: white;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;
}

.blue-color {
    background-color: blue !important;
    color:  white !important;
}

.green-color {
    background-color: green !important;
    color:  white !important;
}

.orange-color {
    background-color: rgb(255, 0, 212) !important;
    color:  white !important;
}