.modal-header {
  direction: ltr;
  cursor: move;
}

::ng-deep .nsm-content {
  padding: unset !important;
}

hr {
  margin: unset !important;
}

.body-modal {
  margin-top: 15px;
}


::ng-deep .pack-modal-custom1500{
  max-width: 1500px !important;
 }

 ::ng-deep .pack-modal-custom1650{
  max-width: 1650px !important;
 }

 ::ng-deep .pack-modal-custom900{
  max-width: 900px !important;
 }

 ::ng-deep .pack-modal-customDefault{
  max-width: 600px !important;
 }

.modal-header {
  background: rgb(243 243 243);
  height: 35px;
}

.modal-footer {
  margin-bottom: 5px;
  margin-left: 5px;
}

.close-button {
  margin-top: 5px;
}

.modal-header-title {
  margin-top: 5px;
  margin-right: 10px;
  color: black;
}

.save-btn {
  margin-left: 5px;
}

h3 {
  margin-bottom: unset !important;
  margin: unset !important;
}
  
.fa-close {
  margin-left: 10px;
  color: black;
} 