<custom-modal *ngIf="showModal" [modalOptions]="modalOptions">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" *ngIf="!formObj.CodeDesc_Fld.ishidden">
        <custom-input  [formObj]="formObj"  [type]="formObj.CodeDesc_Fld.type" [parentFormGroup]="form"
          [label]="formObj.CodeDesc_Fld.headerName" [valueName]="'CodeDesc_Fld'">
        </custom-input>
      </div>
      <div class="col-sm-6" *ngIf="!formObj.CatIDDesc.ishidden">
        <custom-input  [formObj]="formObj"  [type]="'combo'" [comboUrl]="'Jobcategory'" [parentFormGroup]="form"
          [label]="formObj.CatID.headerName" [valueName]="'CatID'" [descValue]="data.CatIDDesc"></custom-input>
      </div>
      <div class="col-sm-6" *ngIf="!formObj.IsPayroll.ishidden">
        <custom-input  [formObj]="formObj"  [type]="formObj.IsPayroll.type" [parentFormGroup]="form" [label]="formObj.IsPayroll.headerName"
          [valueName]="'IsPayroll'">
        </custom-input>
      </div>
    </div>
  </div>
</custom-modal>