<mat-tab-group *ngIf="pathUrl.includes('movperson')" dir="rtl">

  <mat-tab dir="rtl" label="موظفین">
    <select-personnel *ngIf="showPersonnel" (add)="add()" (edit)="edit($event)" (delete)="delete($event)"
      (view)="view($event)" (formObjChange)="formObjChange($event)" [setNewPersonData]="newData"
      [controller]="controller" (onFilterSelectPersonnel)="onFilterSelectPersonnel($event)">
    </select-personnel>

    <div class="mt-2">
      <custom-ag-grid *ngIf="showGrid" [customGridOption]="gridOption"></custom-ag-grid>
    </div>
  </mat-tab>

  <mat-tab dir="rtl" label="کلیه موظفین">
    <ng-template matTabContent>
      <general-person-info [filterData]="filterDto" [type]="controller"></general-person-info>
    </ng-template>
  </mat-tab>

</mat-tab-group>

<select-personnel *ngIf="showPersonnel && !pathUrl.includes('movperson')" (add)="add()" (edit)="edit($event)"
  (delete)="delete($event)" (view)="view($event)" (formObjChange)="formObjChange($event)" [setNewPersonData]="newData"
  [controller]="controller" (selectedPersonelNF)="selectedPersonelNF = $event">
</select-personnel>

<div class="pre-form" *ngIf="showForm">
  <person-form [formObj]="formObj.EntityAttribute" [ID]="ID" [formType]="formType" (done)="submited($event)"
    (closed)="closeForm()" [controller]="controller" [movPerson]="movPerson" [selectedPersonelNF]="selectedPersonelNF">
  </person-form>
</div>