.body {
  width: 92%;
  margin: 0 auto;
}

.erase-icon {
  position: absolute;
  left: 40px;
  top: 20px
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-wrapper {
  width: 93% !important;
}

.refresh-icon {
  position: absolute;
  left: 9px;
  top: 20px;
}