.mat-tree-node {
  min-height: unset !important;
}

.last-child {
  color: green;
}

mat-label {
  cursor: pointer;
  margin-right: 10px;
}

.active-node {
  background-color: rgb(0 255 127);
}

:host ::ng-deep .mat-ink-bar, :host ::ng-deep .mat-ripple {
  width: 212px !important;
}

mat-label {
  cursor: pointer;
}