<custom-modal *ngIf="showModal" [modalOptions]="modalOptions">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" *ngIf="!formObj.CodeDesc_Fld.ishidden">
        <custom-input  [formObj]="formObj"  [type]="formObj.CodeDesc_Fld.type" [parentFormGroup]="form"
          [label]="formObj.CodeDesc_Fld.headerName" [valueName]="'CodeDesc_Fld'">
        </custom-input>
      </div>
      <div class="col-sm-12" *ngIf="!formObj.OrgTypeDesc_Fld.ishidden">
        <custom-input  [formObj]="formObj"  [type]="'combo'" [descValue]="data.OrgTypeDesc_Fld" [comboUrl]="'OtherDetail/10015'"
          [parentFormGroup]="form" [label]="formObj.OrgType_Fld.headerName" [valueName]="'OrgType_Fld'"></custom-input>
      </div>
    </div>
  </div>
</custom-modal>