
@import './assets/scss/importer.scss';
@import './assets/Report.css';


.fa-list-button {
  color: black;
  position: absolute;
  margin-top: 12px;
  margin-right: 5px;
}

button {
  outline: none !important;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  direction: rtl;
}

legend {
  margin-bottom: 0 !important;
}

* {
  margin: 0;
}

.mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-wrapper {
  height: 51px !important;
  padding-bottom: 12px !important;
}
.mat-mdc-form-field-subscript-wrapper{
  height: 0px !important;
}

mat-label,
p,
label,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
.mat-select-placeholder,
.mat-option-text,
.mat-select-value-text,
.mdc-list-item__primary-text,
.mat-mdc-select-value-text,
.mat-error,
#swal2-content,
button,
select,
.toast-title,
.toast-message,
.mat-list-text,
.mat-tab-label-content,
.mdc-tab,
.mdc-tab__content,
.mat-panel-title,
.mat-tree-node,
.mat-panel-description,
.mat-expansion-panel-header-title,
.nav-link
{
  font-family: iransans !important;
  // font-size: 14px !important;
  justify-content: right !important;
}
mat-label
{
  color: black !important;
}


button {
  outline: none !important;
}

i {
  cursor: pointer;
}

.ol,
ul {
  padding-left: 0 !important;
}

input[type="checkbox"] {
  cursor: pointer !important;
}

.cursor-all-scroll {
  cursor: all-scroll;
}

.mat-raised-button {
  line-height: 32px
}


.warning-button {
  margin-right: 5px !important;
  color: white !important;
}

mat-card {
  resize: both;
  overflow: auto;
}

.pre-form {
  margin-top: 0.25rem;
}

.disabled-form {
  // overflow-y: auto !important;
  opacity: 0.7;
  pointer-events: none;
}


mat-form-field {
  width: 100% !important;
  height: 51px;
}
.mat-mdc-form-field-infix{
  padding-top: 25px !important;
}

.mat-mdc-text-field-wrapper{
  height: 51px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 12px !important;
}
.mdc-text-field--filled{
   background-color: inherit !important;
}
.mat-mdc-form-field-flex{
  height: 39px !important;
}

// .mat-focus-indicator {
//   position: unset !important;
// }

.toast-container {
  direction: rtl;
}

.blue-tooltip {
  background-color: blue;
  color: white;
  font-family: iransans !important;
  direction: rtl !important;
  text-align: right !important;
}

.red-tooltip {
  background-color: red;
  color: white;
  font-family: iransans !important;
  direction: rtl !important;
  text-align: right !important;
}

.green-tooltip {
  background-color: #42692f;
  color: white;
  font-family: iransans !important;
  direction: rtl !important;
  text-align: right !important;
}

.orange-tooltip {
  background-color: rgb(255, 153, 0);
  color: white;
  font-family: iransans !important;
  direction: rtl !important;
  text-align: right !important;
  white-space: pre;
}

.print-tooltip {
  background-color: rgb(76, 0, 255);
  color: white;
  font-family: iransans !important;
  direction: rtl !important;
  text-align: right !important;
}

.purple-tooltip {
  background-color: rgb(39, 8, 109) !important;
  color: white !important;
  font-family: iransans !important;
  direction: rtl !important;
  text-align: right !important;
}

.tab-tooltip {
  font-family: iransans !important;
  direction: rtl !important;
  text-align: right !important;
}

.cost-btn {
  background-color: white !important;
  color: black !important;
  text-align: right;
  width: 100%;
}

.fa-trash-button {
  color: red;
  position: absolute;
  margin-top: 12px;
  margin-right: 5px;
}

.require {
  background-color: rgb(192, 255, 255) !important;
}

.mat-mdc-input-element:disabled, .mat-mdc-select-disabled {
  background-color: rgba(0, 0, 0, 0.1) !important
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-grow: 3 !important
}

.mat-expansion-panel-header-description {
  flex-grow: 4 !important;
}

.mat-form-field-label {
  height: 100% !important;
}

.mat-expansion-indicator {
  margin-bottom: 5px;
}

.mat-expansion-panel-header {
  height: 20px;
}

.mat-expansion-panel-header.mat-expanded {
  height: 25px;
}

.mat-expansion-panel-body, .mat-expansion-panel-header {
  padding: 0px 7px 0px !important
}

.mat-mdc-card {
  padding: 0px !important;
}

.mat-mdc-tab-label {
  height: 22px !important;
}


mat-tree {
  height: 350px;
  //display: unset !important;
  overflow-y: auto;
  direction: ltr;
}

mat-tree-node {
  min-height: 20px !important;
  margin-right: 27px;
}

input.mat-mdc-input-element {
  margin-top: -9px !important;
}

.mat-mdc-tab-body-content  {
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0);
  width: 10px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

.cost-btn .mat-mdc-button-wrapper {
  width: 100%;
  display: inline-block;
  overflow: hidden !important;
  text-overflow: ellipsis;
  height: 26px;
  font-size: 12px;
}

::ng-deep .pack-modal-custom{
  min-width: 800px !important;
  max-width: none !important;
  background-color: black !important;
 }

mat-mdc-label::-moz-selection { background:transparent; }
mat-mdc-label::selection { background:transparent; }

#StiViewerReportPanel {
  direction: ltr;
  overflow: auto !important;
}

.mat-mdc-raised-button.mat-primary.mat-button-disabled {
  background-color: rgba(0,0,0,.12) !important;
}

.btn {
  background-color: #2196F3;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn:hover, .dropdown:hover .btn {
  background-color: #0b7dda;
}


.mat-select-panel
{
  // transform-origin: top !important;
  // top: auto !important;
  // bottom: 1% ;
  max-height:220px !important;
  // position: absolute;
}
.mat-select-panel .mat-option {
  height: 2.5em !important;
}


tr,
td{
 padding-top:0;
  padding-bottom: 0 !important;
  padding: 0% !important;
}
.mat-calendar-body-cell
{
  height: 40px !important;

}
.mat-datepicker-content .mat-calendar {
  width: 287px !important;
  height: 320px !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px !important;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.timepicker[_ngcontent-serverApp-c115]{
  direction:ltr !important;
}

.timepicker-overlay[_ngcontent-serverApp-c129]{
  direction:ltr !important;
}
.timepicker-overlay[_ngcontent-serverApp-c98]{
  direction:ltr !important;
}
.timepicker-overlay[_ngcontent-serverApp-c90] {
  direction:ltr !important;
}
.mat-calendar-body-cell-content
{
  font-family: iransans !important;
}
.mat-calendar-body-label {
  color: rgb(255 255 255 / 54%) !important;
}

