<custom-modal *ngIf="showForm && DynamicFormType == 100951" [modalOptions]="modalOptions">
  <dynamic-form-form [formObj]="formObj" [formTabAttr]="formTabAttr" [ID]="ID" [WorkFlowID]="WorkFlowID" [FormType]="FormType" [FormID]="FormID" [ButtonList]="ButtonList"
    [DynamicFormType]="DynamicFormType" [RequestEntryInfo]="RequestEntryInfo" [MasterDetailID]="MasterDetailID"
    [ParentFormID]="ParentFormID" [ParentID]="ParentID" [MainFormID]="MainFormID" (done)="submited($event)" (closed)="closeForm()" (buttonListDone)="clickButtonList($event)">
  </dynamic-form-form>
</custom-modal>

<mat-card appearance="outlined" *ngIf="showForm && DynamicFormType == 100952">
  <dynamic-form-form [formObj]="formObj" [formTabAttr]="formTabAttr" [ID]="ID" [WorkFlowID]="WorkFlowID" [FormType]="FormType" [FormID]="FormID" [ButtonList]="ButtonList"
     [DynamicFormType]="DynamicFormType" [RequestEntryInfo]="RequestEntryInfo" [MasterDetailID]="MasterDetailID"
    [ParentFormID]="ParentFormID" [ParentID]="ParentID" [MainFormID]="MainFormID" (done)="submited($event)" (closed)="closeForm()" (buttonListDone)="clickButtonList($event)">
  </dynamic-form-form>
</mat-card>

<mat-card appearance="outlined" *ngIf="showForm && DynamicFormType == 100955">
  <dynamic-form-form [formObj]="formObj" [formTabAttr]="formTabAttr" [ID]="ID" [WorkFlowID]="WorkFlowID" [FormType]="FormType" [FormID]="FormID" [ButtonList]="ButtonList" 
    [DynamicFormType]="DynamicFormType" [RequestEntryInfo]="RequestEntryInfo" [MasterDetailID]="MasterDetailID"
    [ParentFormID]="ParentFormID" [ParentID]="ParentID" [MainFormID]="MainFormID" (done)="submited($event)" (closed)="closeForm()" (buttonListDone)="clickButtonList($event)">
  </dynamic-form-form>
</mat-card>
