:host ::ng-deep custom-input[ng-reflect-value-name='Query_Fld'] mat-form-field {
 text-align: left
}

:host ::ng-deep textArea mat-form-field {
    text-align: left
   }
   
   :host ::ng-deep textarea {
       text-align: left;
       overflow-x: hidden;
       line-height: 150%;

   }
   
   :host ::ng-deep textArea label {
       text-align: left
   }