.search-input
{
    border-radius: 10px;
    text-align: -webkit-center;
    color: aqua;
}

.toggle
{
    z-index: 9999999999999 !important;
} 
.toggle-object
{
    z-index: 9999999999999 !important;
    margin: 45px;
}