.mat-tree-node {
    min-height: unset !important;
  }
  
  .last-child {
    color: green;
  }
  
  mat-label {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .active-node {
    background-color: rgb(0 255 127);
  }
  
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
:host ::ng-deep .mat-checkbox-inner-container {
  margin-left: unset !important;
}

.body {
  width: 92%;
  margin: 0 auto;
}

.erase-icon {
  position: absolute;
  left: 73px;
  top: 87px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-wrapper {
  width: 93% !important;
}

.fa-angle-down {
  margin-right: 12px
}

.fa-angle-left {
  margin-right: 12px
}