@media (min-width: 992px) {
  .sidebar-lg {
    .main-panel .main-content {
      padding-right: 245px;
    }
    .navbar-container {
      padding-right: 245px;
    }
  }
  .sidebar-md {
    .main-panel .main-content {
      padding-right: 225px;
    }
    .navbar-container {
      padding-right: 225px;
    }
  }
  .sidebar-sm {
    .main-panel .main-content {
      padding-right: 200px;
    }
    .navbar-container {
      padding-right: 200px;
    }
  }
}

@media (max-width: 992px) {
  .app-sidebar {
    transition: transform .4s cubic-bezier(.25, .8, .25, 1);
  }
  .navbar-nav, .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5re m!important;
    margin-top: 0
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    bottom: -15px;
  }
  .navbar-toggle .icon-bar {
    display: block;
    position: relative;
    background: #fff;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto;
  }
  .navbar-header .navbar-toggle {
    width: 40px;
    height: 33px;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .bar1,
  .bar2,
  .bar3 {
    outline: 1px solid transparent;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 320px) {
  .navbar-header {
    float: left;
  }
  .navbar-nav>li {
    float: left;
  }
}

